body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
    display: flex;
    flex-direction: column;
}

.header {  
    height: 80px;
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    padding: 0px 240px;
}

.logo {
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    height: 80%;
    padding: 0px 16px;
    
}

.links {
    display: flex;
    margin-left: auto;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
    font-family: sans-serif;
    color: #E5E7EB;
    align-items: center;
}

.main {
    background-color: #1F2937;
    height: 480px;
    padding: 120px 240px;
    display: flex;
    box-sizing: border-box;
}

.main-left {
    margin-right: auto;
    width: 50%;
}

.main-right {
    margin-left: auto;
    width: 50%;
    background-color: #7291bb;
    display: flex;
}

.main-right img {
    margin: auto;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 12px;
}

.main-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    border-radius: 8px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0px;
    padding: 0px 32px;
    background-color: #3882F6;
    color: #F9FAF8;
}

