body {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {  
    height: 80px;
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    padding: 0px 10vw;
}

.logo {
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    height: 80%;
    padding: 0px 16px;
    
}

.links {
    display: flex;
    margin-left: auto;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
    font-family: sans-serif;
    color: #E5E7EB;
    align-items: center;
}

.main1 {
    background-color: #1F2937;
    height: 60vh;
    padding: 10vh 10vw;
    display: flex;
    box-sizing: border-box;
}

.main1-left {
    margin-right: auto;
    width: 50%;
}

.main1-right {
    margin-left: auto;
    width: 50%;
    background-color: #7291bb;
    display: flex;
}

.main1-right img {
    margin: auto;
}

.main1-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 12px;
}

.main1-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    border-radius: 8px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0px;
    padding: 0px 32px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 48px;
    padding-bottom: 48px;
height: 40vh;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
}

.images {
    display: flex;
    gap: 24px;
}

.square {
    border-style: solid;
    border-color: #3882F6;
    border-width: 3px;
    border-radius: 12px;
    width: 12.5vw;
    aspect-ratio: 1/1;
}

.subtext {
    position: relative;
    top: 12.5vw;
    margin-top: 16px;
    text-align: center;
    color: #3882F6;
}

.main3 {
    background-color: #E5E7EB;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    color: #1F2937;
    width: 50vw;
}

.actual-quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.author {
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.main4 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8vh 14vw;
}

.call-to-action {
    background-color: #3882F6;
    color: white;
    display: flex;
    width: 100%;
    height: 12vh;
    border-radius: 1.5vh;
    justify-content: center;
    align-items: center;
    
}

.cta-left {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding-left: 10%;
    font-size: 24px;
}

.cta-right {
    margin-left: auto;
    padding-right: 10%;
}

.cta-right button {
    border-color: white;
}

.footer {
    background-color:#1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 16px;
}